<div
     id="module-{{mod.id}}"
     data-region="module"
     data-module="{{mod.id}}"
     class="card {{^mod.uservisible}} notavailable bg-gray020 {{/mod.uservisible}} activity type-{{mod.modname}} {{mod.extraclasses}}">

    {{#showheader}}
        <div class="card-header" style="{{#cardimage}}background-image:url({{{cardimage}}});{{/cardimage}}">
            {{#editing}}
                {{{moveicons}}}
                <span class="float-right editoptions">
                    {{{editoptions}}}
                </span>

                {{#availability}}
                    <span class="availability">
                        {{{availability}}}
                    </span>
                {{/availability}}
            {{/editing}}
            <span></span>
        </div>
    {{/showheader}}
    <div class="card-body">
        {{#cmname}}
            <div class="cmname">
                {{{cmname}}}
            </div>
        {{/cmname}}
        <div class="activityinfo">
            {{#text}}
                <div class="text {{^mod.uservisible}} contentwithoutlink dimmed dimmed_text {{/mod.uservisible}}">
                    {{{text}}}
                </div>
                {{^cmname}}
                    {{#completion}}
                        <div class="completion">
                            {{{completion}}}
                        </div>
                    {{/completion}}
                {{/cmname}}
            {{/text}}
        </div>

        {{#mod.afterlink}}
            <span class="afterlink">
                {{{mod.afterlink}}}
            </span>
        {{/mod.afterlink}}
    </div>
    {{#showfooter}}
        <div class="card-footer">
            {{#completion}}
                <span class="completion">
                    {{{completion}}}
                </span>
            {{/completion}}
            {{#duration}}
                <span class="duration">
                    {{{duration}}}
                </span>
            {{/duration}}
            {{#availability}}
                <span class="availability">
                    {{{availability}}}
                </span>
            {{/availability}}
        </div>
    {{/showfooter}}

</div>
