{{#editing}}
<div class="wrapper p-2" id="module-{{mod.id}}"
  data-region="module"
  data-module="{{mod.id}}"
>
  <div class="container-fluid activity type-{{mod.modname}} {{mod.extraclasses}} shadow-sm h-100 d-flex flex-column align-items-stretch">
    <div class="row header">
      <div class="col col-md-12 p-3">
        {{#editing}}
            {{{moveicons}}}
            <span class="float-right editoptions">
                {{{editoptions}}}
            </span>
        {{/editing}}
      </div>
    </div>
    <div class="row content flex-fill">
    {{{text}}}
    </div>
  </div>
</div>
{{/editing}}
<div class="container-fluid type-{{mod.modname}} {{mod.extraclasses}}">
{{^editing}}{{{text}}}{{/editing}}
</div>